# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# Environment Variables should NEVER be published
.env


# // process.env >>> em cloudinary.js, para nao publicar em repositorios as chaves de acesso